{%include 'adminheader.html'%}

<main>
    <!--? slider Area Start-->
    <section class="slider-area hero-overly">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">

<center>
    <div class="hero__caption">
    <h1>complaint reply</h1>
</div>
    <form method="post">
        <table class="table" style="width: 500px;color: white">
            <tr>
                <th>Replay</th>
                <td><input type="text" name="reply" placeholder="Enter reply" required class="form-control" required></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" value="SUBMIT" name="submit" class="btn btn-success" ></td>
            </tr>
        </table>
    </form>
</center>

</div>
</div>
</div>
</div>          
</div>
</div>
</section>

{%include 'footer.html'%}