{%include 'publicheader.html'%}

<main>
    <!--? slider Area Start-->
    <section class="slider-area hero-overly">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-9 col-md-10 col-sm-9">
                            <div class="hero__caption">
								<div class="card" style="width: 500px; background: transparent; border-radius: 20px; box-shadow: 0 4px 6px 	rgba(0, 0, 0, 0.1);">
                				<div class="card-body">
                                <center>
									<h1>login</h1>
									<form method="post">
										<table class="table" style="color: white;">
											<tr>
												<th>USER NAME</th>
												<td><input type="text" name="username" placeholder="Enter user name" required class="form-control" ></td>
											</tr>
											<tr>
												<th>PASSWORD</th>
												<td><input type="Password" name="Password" placeholder="Enter password" required class="form-control" ></td>
											</tr>
											<tr>
												<td align="center" colspan="2"><input type="submit" name="submit" value="SUBMIT" class="btn btn-success"></td>
											</tr>
										</table>
										
									</form>
								</center>
							</div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </section>

  

{%include 'footer.html'%}